---
apiVersion: v1
kind: Endpoints
metadata:
  name: {{ freeipa_external_service_name }}-ldap
  namespace: {{ freeipa_external_namespace }}
subsets:
  - addresses:
{% for item in freeipa_external_ip_endpoints %}
      - ip: {{ item }}
{% endfor %}
    ports:
      - name: ldap
        port: 389
      - name: ldaps
        port: 636
