---
apiVersion: v1
kind: Service
metadata:
  name: {{ freeipa_external_service_name }}-proxy
  namespace: {{ freeipa_external_namespace }}
  labels:
    app.kubernetes.io/name: nginx-proxy
    app.kubernetes.io/instance: {{ freeipa_external_service_name }}-proxy
  annotations:
    traefik.ingress.kubernetes.io/service.serversscheme: https
    traefik.ingress.kubernetes.io/service.serverstransport: {{ freeipa_external_namespace }}-{{ freeipa_external_service_name }}-proxy@kubernetescrd
spec:
  ports:
    - port: 443
      targetPort: https
      protocol: TCP
      name: https
  selector:
    app.kubernetes.io/name: nginx-proxy
    app.kubernetes.io/instance: {{ freeipa_external_service_name }}-proxy
  type: ClusterIP
  sessionAffinity: None
