---
# Default values for prowlarr.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

strategy:
  type: Recreate

image:
  repository: {{ prowlarr_image_name }}
  pullPolicy: IfNotPresent
  tag: {{ prowlarr_image_version }}

env:
  TZ: "UTC"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: {{ prowlarr_run_group }}
  runAsUser: {{ prowlarr_run_user }}
  runAsGroup: {{ prowlarr_run_group }}

securityContext: {}

service:
  type: {{ prowlarr_service_type }}
  port: {{ prowlarr_service_port }}

ingress:
{% if prowlarr_ingress_enabled %}
  enabled: true
{% else %}
  enable: false
{% endif %}
  className: {{ prowlarr_ingress_class_name }}
  annotations: {{ prowlarr_ingress_annotations }}
  hosts:
    - host: {{ prowlarr_ingress_host }}
      paths:
        - path: {{ prowlarr_ingress_path }}
          pathType: ImplementationSpecific
{% if prowlarr_ingress_tls %}
  tls:
  - secretName: prowlarr-tls
    hosts:
      - {{ prowlarr_ingress_host }}
{% else %}
  tls: []
{% endif %}

extraVolumes: {{ prowlarr_volumes }}

extraVolumeMounts: {{ prowlarr_volume_mounts }}

persistence:
  config:
{% if prowlarr_config_pv_enabled %}
    enabled: true
{% else %}
    enabled: false
{% endif %}
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: {{ prowlarr_config_pv_storage_class }}
    annotations: {}
    existingClaim: {{ prowlarr_config_pv_existing_claim }}
    accessModes: {{ prowlarr_config_pv_access_modes | to_yaml }}
    size: {{ prowlarr_config_pv_size }}
{% if prowlarr_config_pv_creation != 'auto' %}
    existingClaim: prowlarr-config
{% else %}
    existingClaim: {{ prowlarr_config_pv_existing_claim }}
{% endif %}

resources: {{ prowlarr_resources }}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
