---
# Default values for jellyfin.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

strategy:
  type: Recreate

image:
  repository: {{ jellyfin_image_name }}
  pullPolicy: IfNotPresent
  tag: {{ jellyfin_image_version }}

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: {{ jellyfin_run_group }}
  runAsUser: {{ jellyfin_run_user }}
  runAsGroup: {{ jellyfin_run_group }}

securityContext: {}

service:
  type: {{ jellyfin_service_type }}
  port: {{ jellyfin_service_port }}

ingress:
{% if jellyfin_ingress_enabled %}
  enabled: true
{% else %}
  enable: false
{% endif %}
  className: {{ jellyfin_ingress_class_name }}
  annotations: {{ jellyfin_ingress_annotations }}
  hosts:
    - host: {{ jellyfin_ingress_host }}
      paths:
        - path: {{ jellyfin_ingress_path }}
          pathType: ImplementationSpecific
{% if jellyfin_ingress_tls %}
  tls:
  - secretName: jellyfin-tls
    hosts:
      - {{ jellyfin_ingress_host }}
{% else %}
  tls: []
{% endif %}

extraVolumes: {{ jellyfin_volumes }}

extraVolumeMounts: {{ jellyfin_volume_mounts }}

persistence:
  config:
{% if jellyfin_config_pv_enabled %}
    enabled: true
{% else %}
    enabled: false
{% endif %}
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: {{ jellyfin_config_pv_storage_class }}
    annotations: {}
    existingClaim: {{ jellyfin_config_pv_existing_claim }}
    accessModes: {{ jellyfin_config_pv_access_modes | to_yaml }}
    size: {{ jellyfin_config_pv_size }}
{% if jellyfin_config_pv_creation != 'auto' %}
    existingClaim: jellyfin-config
{% else %}
    existingClaim: {{ jellyfin_config_pv_existing_claim }}
{% endif %}

  cache:
{% if jellyfin_cache_pv_enabled %}
    enabled: true
{% else %}
    enabled: false
{% endif %}
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: {{ jellyfin_cache_pv_storage_class }}
    annotations: {}
    existingClaim: {{ jellyfin_cache_pv_existing_claim }}
    accessModes: {{ jellyfin_cache_pv_access_modes | to_yaml }}
    size: {{ jellyfin_cache_pv_size }}
{% if jellyfin_cache_pv_creation != 'auto' %}
    existingClaim: jellyfin-cache
{% else %}
    existingClaim: {{ jellyfin_cache_pv_existing_claim }}
{% endif %}

resources: {{ jellyfin_resources }}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
